// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Custom

body {
    font-family: "Share Tech Mono", monospace;
}

.header {
    background-image: url("../images/train.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    opacity: calc(0.8);
}
